.roles-wrap{
	padding: 15px;
	.role-title{
		margin-bottom: 10px;
	    text-align: center;
	    text-transform: uppercase;
	    font-size: 20px;
	    color: var(--blue-color);
	}

	.module-item{
		margin-bottom: 10px;
		text-transform: capitalize;
	}

	.wrap-view,.wrap-task{
		margin-left: 20px;
	}

	.wrap-view{
		display: flex;
		flex-wrap: wrap;
		.view-item{
			width: calc(20% - 10px);
		    background: #ededed;
		    margin: 0px 5px 10px;
		    padding: 10px;
		}
	}

}
