.btn-row{
	display: block;
    padding: 6px;
    color: #fff !important;
    background: #f39c12;
    margin-bottom: 5px;
    border-radius: 4px;
}

.btn-is-shoot{
	background: #22a7f0;
}

.popup_change{
	width: 400px;
    position: fixed;
    background: var(--main-color);
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%,-50%);
    display: none;
    .title_popup{
    	text-align: center;
	    font-size: 18px;
	    text-transform: uppercase;
	    letter-spacing: 1.2px;
	    margin-bottom: 10px;
	    color: #fff;
    }
    select{
    	width: 100%;
	    height: 36px;
	    line-height: 36px;
	    padding: 10px;
	    border: none;
	    margin-bottom: 10px;
    }
    button{
    	width: 100%;
	    height: 36px;
	    background: #f39c12;
	    border: none;
	    color: #fff;
	    cursor: pointer;
	    text-transform: uppercase;
	    display: none;
    }
    .close_pu{
    	background: #f10505;
	    padding: 5px 10px;
	    color: #fff;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    border-radius: 10px 0px 10px 0px;
	    cursor: pointer;
    }


}

.btn-warranty-no-accept {
	background: #d9534f;
}