#data-product-search{
	position: relative;
	.html-product-search{
	    position: absolute;
	    width: 100%;
	    box-sizing: border-box;
	    right: 14px;
	    top: 31px;
	    padding: 6px 0px;
	    line-height: 26px;
	    width: calc(100% - 125px);
	    border-radius: 2px;
	    max-height: 300px;
	    overflow-y: auto;
    	z-index: 2;
	    display: none;
	    .html_show{
	    	border: 1px solid #ccc;
	    	background: #fff;
	    }
	}
	.item{
		margin-bottom: 5px;
		cursor: pointer;
		padding: 0px 10px;
		&:hover{
			background: #ededed;
		}
	}
}

.size-group{
	.lb{
		width: 102px;
		float: left;
	}
	.box-fr{
		width: calc(100% - 108px);
    	float: left;
		.form-group{
    		width: calc(100% / 3);
			float: left;
			padding: 0px 10px !important;
			label{
				display: none;
			}
			.col-md-10{
				width: 100%;
			}
		}
	}
}

.image-area-single{
	width: 50px;
}

.product-info{
	width: calc(100% - 20px);
    margin: 10px auto;
    padding:0px;
    .col-lg-6{
    	padding:0px;
    	.form-group:nth-child(1){
    		padding-left: 22px !important;;
    	}
    }
}
.fileUpload{
	margin-top: -7px !important;
}

.box-shadow-col-50{
	width: calc(50% - 20px);
	margin: 20px 10px 20px;
}
.box-shadow-col{
	border: 1px solid #ededed;
    padding: 20px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.title-col{
	background: #f9f9f9;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: unset;
    color: #333;
}



body .help-block {
	margin-left: 0px;
}


#popup-image{
    .list-img-popup{
    	display: flex;
    	flex-wrap: wrap;
    	margin: 0px -5px;
    }
    .item{
    	margin: 0px 10px 20px;
	    width: calc(20% - 5px);
	    overflow: hidden;
	    max-height: 100px;
	    border: 1px solid #ededed;
	    padding: 8px;
    	img{
    		object-fit: contain;
		    width: 100%;
		    height: 100%;
    	}
    }
}

#show_info_product{
	height: 500px;
}
.mr-1, .mx-1 {
    margin-right: 0.3125rem!important;
}