.wrapper-select-add{
    margin-bottom: 30px;
    background: #fff;
    padding: 23px 20px 23px 201px;
    position: relative;
    @media only screen and (max-width: 520px) {
        padding: 10px 0px 0px;
    }
    .text-left{
        text-transform: uppercase;
        /* float: left; */
        position: absolute;
        left: 20px;
        top: 34px;
        font-size: 15px;
        @media only screen and (max-width: 520px) {
            position: relative;
            left: auto;
            top: auto;
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    .btn_search_add{
        background: var(--main-color);
        border: none;
        color: #fff;
        height: 43px;
        width: 150px;
        font-size: 15px;
        border-radius: 6px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding-top: 13px;
        box-sizing: border-box;
    }
}
.wrapper-select-add select {
    width: 220px;
    float: left;
    height: 43px;
    border: 1px solid #e5e5e5;
    margin-right: 14px;
    font-size: 15px;
    background: url(../images/select-add.png) no-repeat 95% center;
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 6px;
    @media only screen and (max-width: 850px) {
        margin-bottom: 10px;
    }    
}

.wrapper-list-sv{
    .wrapper-list-all{
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
    .item{
        width: calc(100% / 3 - 30px);
        background: #fff;
        padding: 15px;
        line-height: 22px;
        margin: 0px 15px 15px;
        .name{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            color: var(--blue-color);
        }

    }
}