.list_history_order {
	.item_oder {
		background: #fff;
		margin-bottom: 20px;
		.code_order {
			padding: 15px 20px;
			border-bottom: 1px solid #e3e3e3;
			box-sizing: border-box;
			font-size: 20px;
			a {
				color: var(--extra-color);
			}
			.code {
				float: left;
			}
			.status {
				float: right;
				.done {
					color: var(--extra-color);
				}
				.notdone {
					color: orange;
				}
			}
		}
		.item {
			border-bottom: 1px solid #eee;
			.image {
				width: 160px;
				float: left;
				padding: 15px 20px;
				box-sizing: border-box;
			}
			.total_item {
				width: 140px;
				float: left;
				padding: 15px 20px;
				box-sizing: border-box;
			}
			.title-name {
				width: calc(100% - 300px);
				padding: 15px 20px;
				box-sizing: border-box;
				float: left;
				.name {
					font-size: 20px;
					line-height: 26px;
				}
				.quantity {
					font-size: 16px;
					margin-top: 10px;
				}
			}
			.total_item {
				font-size: 16px;
				line-height: 26px;
				span {
					font-size: 20px;
					color: red;
				}
			}
		}
		.bottom {
			padding: 15px 20px;
			text-align: right;
			font-size: 16px;
			line-height: 26px;
			p {
				span {
					&:nth-child(2) {
						font-size: 20px;
						color: red;
					}

				}
			}

		}
	}
}