
.list_certifications {
	//margin-top: 100px;
	margin-bottom: 90px;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media all and (max-width: 650px){
		margin-bottom: 50px;
	}
	.cat_cer {
		width: 30%;
		@media all and (max-width: 850px){
	    	width: 100%;
	    }
		.cat_name {
			font-size: 32px;
		    line-height: 43px;
		    font-family: 'ExtraBold';
		    @media all and (max-width: 850px){
		    	font-size: 28px;
		    	text-align: center;
		    }
		    @media all and (max-width: 650px){
		    	font-size: 26px;
		    	line-height: 30px;
		    }
		    @media all and (max-width: 500px){
		    	font-size: 22px;
		    }
		}
		.name2{
			margin-bottom: 12px;
		    font-size: 18px;
		    line-height: 26px;
		    position: relative;
		    @media all and (max-width: 850px){
		    	text-align: center;
		    }
		    &:after {
		    	content: '';
			    width: 30px;
			    height: 1px;
			    position: absolute;
			    bottom: -7px;
			    left: 0;
			    background: var(--extra-color);
			    @media all and (max-width: 850px){
			    	display: none;
			    }
		    }
		}
		.cat_summary {
			line-height: 32px;
		    font-size: 21px;
		    margin-top: 40px;
		    @media all and (max-width: 850px){
		    	font-size: 18px;
		    	margin-top: 30px;
		    	text-align: center;
		    	line-height: 26px;
		    }
		    @media all and (max-width: 650px){
		    	font-size: 14px;
		    	margin-top: 20px;
		    }
		}
	}
	.box_items {
		width: 70%;
		@media all and (max-width: 850px){
	    	width: 100%;
	    	    margin-top: 25px;
	    }
		.item {
        	display: flex;
    		align-items: center;
    		flex-wrap: wrap;				
			.image {
				width: 60%;
			    text-align: center;
			    box-sizing: border-box;
			    padding: 0 90px;
			    order:2;
			    @media all and (max-width: 850px){
	    			width: 50%;
	    			padding: 0 50px;
		   		}
		   		@media all and (max-width: 650px){
	    			width: 100%;
	    			padding: 0 100px;
		   		}
			     
			}
			.box_content {
				 order:3;
				width: 40%;
			    box-sizing: border-box;
			    padding-left: 50px;
			    @media all and (max-width: 850px){
	    			width: 50%;
	    			padding-left: 30px;
		   		}
		   		@media all and (max-width: 650px){
	    			width: 100%;
	    			padding-left: 0px;
	    			margin-top: 30px;
		   		}
			    .name {
			    	font-size: 18px;
    				line-height: 28px;
    				@media all and (max-width: 850px){
		    			font-size: 16px;
			   		}
    				@media all and (max-width: 650px){
		    			font-size: 14px;
		    			line-height: 25px;
		    			text-align: center;
			   		}
			    }
			}
		}
		.owl-nav {
			display: flex;
		    position: absolute;
		    bottom: 5%;
		    left: calc(70% + 50px);
		    @media all and (max-width: 650px){
    			position: inherit;
    			div {
    				display: flex;
				    position: absolute;
				    left: 0;
				    top:50%;
    				transform: translate(0px, -50%);
    			}
    			.owl-next {
    				left: unset;
    				right: 0;
    			}
	   		}
			div {
				width: 36px;
			    height: 36px;
			    border: 1px solid var(--extra-color);
			    border-radius: 50%;
			    font-size: 40px;
			    box-sizing: border-box;
			    //padding-top: 6px;
			    padding-left: 11px;
			    margin:0 5px;
			    transition: .4s;
			    line-height: 29px !important;
			    &:hover {
			    	
			    }
			}
		}
	}

}