.strengths_images_block_body{
	display: flex;
    flex-wrap: wrap;
	.item {
		width: calc(100% / 3);
	    box-sizing: border-box;
	    padding: 0px 40px;
	    transform: translate(0px, 150px);
	    @media all and (max-width: 1025px){
	    	padding: 0px 25px;
	    }
	    @media all and (max-width: 850px){
	    	padding: 0px 15px;
	    }
	    @media all and (max-width: 650px){
	    	padding: 0px 0px;
	    	display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		    margin-bottom: 25px;
		    width: 100%;
	    }
	    &:nth-child(1) {
	    	transition: 1s;
	    }
	    &:nth-child(2) {
	    	transition: 1.3s;
	    }
	    &:nth-child(3) {
	    	transition: 1.6s;
	    }
	    &:nth-child(4) {
	    	transition: 1.9s;
	    }
	    .str_image {
	    	margin-bottom: 0px;
		    border-radius: 50%;
		    overflow: hidden;
		    width: 77%;
		    margin: 0 auto;
		    @media all and (max-width: 1025px){
		    	width: 65%;
		    }
		    @media all and (max-width: 850px){
		    	width: 75%;
		    }
		    @media all and (max-width: 650px){
		    	width: 30%;
		    }
	    	img {
	    		transform: scale(1.04);
	    	}
	    }

	    .box_content {
	    	text-align: center;
	    	@media all and (max-width: 650px){
		    	width: calc(100% - 30% - 25px);
			    float: left;
			    text-align: left;
			    margin-left: 25px;
		    }
	    	.title {
	    		margin-top: 30px;
	    		@media all and (max-width: 1025px){
			    	margin-top: 20px;
			    	font-size: 15px;
			    }
			    @media all and (max-width: 650px){
			    	margin-top: 0px;
			    }
	    	}
	    	.title2 {
	    		display: block;
		    	color: var(--extra-color);
			    font-size: 28px;
			    font-weight: 600;
			    line-height: 1.4;
			    margin-top: 24px;
			    @media all and (max-width: 1025px){
			    	font-size: 24px;
			    	margin-top: 15px;
			    }
			    @media all and (max-width: 850px){
			    	font-size: 20px;
			    	margin-top: 15px;
			    }
			    @media all and (max-width: 650px){
			    	margin-top: 10px;
			    	font-size: 18px;
			    }
	    	}
	    	.summary {
	    		line-height: 1.5;
			    font-size: 18px;
			    margin-top: 39px;
			    @media all and (max-width: 1025px){
			    	font-size: 16px;
			    	margin-top: 25px;
			    }
			    @media all and (max-width: 850px){
			    	font-size: 14px;
			    	margin-top: 16px;
			    }
			    @media all and (max-width: 650px){
			    	margin-top: 10px;
			    }
	    	}
	    }
	}
}
.bottom_str {
	text-align: center;
	margin-top: 70px;
	@media all and (max-width: 850px){
    	margin-top: 40px;
    }
    @media all and (max-width: 650px){
    	margin-top: 10px;
    }
	a {
		display: inline-block;
	    min-width: 220px;
	    margin: 0 7px;
	    padding: 12px 10px;
	    text-align: center;
	    background: var(--extra-color);
	    border-radius: 30px;
	    color: #fff;
	    border: 1px solid var(--extra-color);
	    font-weight: 600;
	    transition: .4s;
	    font-size: 15px;
	    box-sizing: border-box;
	    @media all and (max-width: 850px){
    		display: inline-block;
		    min-width: 170px;
		    margin: 0 5px;
		    padding: 9px 10px 10px;
		    font-size: 13px;
    	}
    	@media all and (max-width: 650px){
		    min-width: 150px;
		    padding: 7px 10px 7px;
		    font-size: 12px;
    	}
	    &:hover {
	    	color: var(--extra-color);
	    	background: transparent;
	    }
	    &:last-child {
	    	color: var(--extra-color);
	    	background: transparent;
	    	&:hover {
	    		background: var(--extra-color);
	    		color: #fff;
	    	}
	    }
	    .bot_pc {
	    	@media all and (max-width: 850px){
	    		display: none;
	    	}
	    }
	    .bot_mb {
	    	display: none;
	    	@media all and (max-width: 850px){
	    		display: block;
	    	}
	    }
	}
}
.hello {
	.strengths_images_block_body{
		.item {
			transform: translate(0px, 0px);
		}
	}
}