@keyframes type{
	0%{
		background: #2ba969;
	}
	10%{
		background: #2ba969;
	}
	40%{
		background: #cd1818c7;
	}
	60%{
		background: #cd1818c7;
	}
	80%{
		background: #2ba969;
	}
	100%{
		background: #2ba969;
	}
}
@keyframes type2{
	0%{
		background: #cd1818c7;
		clip-path: polygon(0 0, 90% 0%, 82% 100%, 0% 100%);
	}
	10%{
		background: #cd1818c7;
		clip-path: polygon(0 0, 90% 0%, 82% 100%, 0% 100%);
	}
	40%{
		background:  #0000008c;
		clip-path: polygon(0 0, 94% 0%, 86% 100%, 0% 100%);
		-webkit-clip-path:polygon(0 0, 94% 0%, 86% 100%, 0% 100%);
	}
	60%{
		background: #0000008c;
		clip-path: polygon(0 0, 94% 0%, 86% 100%, 0% 100%);
		-webkit-clip-path:polygon(0 0, 94% 0%, 86% 100%, 0% 100%);
	}
	80%{
		background: #cd1818c7;
		clip-path: polygon(0 0, 90% 0%, 82% 100%, 0% 100%);
	}
	100%{
		background: #cd1818c7;
		clip-path: polygon(0 0, 90% 0%, 82% 100%, 0% 100%);
	}
}
.banner_r_slide {
	@media all and (max-width: 850px){
		margin:0 -4px;
	}
	.item {
		margin-bottom: 16px;
		overflow: hidden;
		@media all and (max-width: 1025px){
			//margin-bottom: 13px;
		}
		@media all and (max-width: 850px){
			width: calc(100% / 3 - 8px);
			float: left;
			margin:0 4px;
		}
		&:hover {
			img {
				transform: scale(1.03);
			}
		}
		&:last-child{
			margin-bottom: 0px;
		}
		a {
			position: relative;
			display: grid ;
			text-align: left;
			box-sizing: border-box;
			outline: none !important;
			img{
				outline: none !important;
			}
			.wrapper_name {
				display: inline-block;
				position: absolute;
				// height: calc(100% - 4px);
				width: 70%;
				left: 0;
				top: 0px;
				height: 100%;
				
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
				line-height: 20px;
				padding-left: 15px;
				// padding-top: 15px;
				box-sizing: border-box;
				font-family: sans-serif;
				transition: 0.5s;
				align-items: center;
				display: block;
				
				@media all and (max-width: 1200px) {
					font-size: 13px;
					line-height: 18px;
				}
				.name{
					&:first-child{
						margin-top: 30px;
						font-size: 25px;
						padding-bottom: 5px;
					}

				}
			}

			.name,.summary,.waranty{
				display: block;
			}

		}
		&:nth-child(2) {
			a {
				.wrapper_name {
					padding-left: 0px;
					// padding-top: 25px;
					.name{
						font-size: 25px;
						padding-bottom: 5px;
						padding-left: 15px;
						margin-top: 38px;
						font-style: italic;
						text-shadow: 2px 1px 0px #595959;
					}
						.summary{
						background: #c0211e;
						margin-top: 5px;
						padding: 10px 10px 10px 15px;
						font-style: italic;
						font-size: 15px;
						transition: 0.5s;
						text-shadow: 1px 1px 0px #4f4f4f;
						clip-path: polygon(0 0, 90% 0%, 82% 100%, 0% 100%);
						animation: type2 6s steps(20) infinite;
					-webkit-animation: type2 6s steps(20) infinite;
					-moz-animation: type2 6s steps(20) infinite;
					-ms-animation: type2 6s steps(20) infinite;
					-o-animation: type2 6s steps(20) infinite;
					}
				}
			}
		}
		&:nth-child(1) {
			a {
				.wrapper_name {
					
					animation: type 6s steps(20) infinite;
					-webkit-animation: type 6s steps(20) infinite;
					-moz-animation: type 6s steps(20) infinite;
					-ms-animation: type 6s steps(20) infinite;
					-o-animation: type 6s steps(20) infinite;
					clip-path: polygon(0 0, 94% 0%, 71% 100%, 0% 100%);
					-webkit-clip-path: polygon(0 0, 94% 0%, 71% 100%, 0% 100%);
					background: #2ba969;
					.name{
						font-size: 25px;
						padding-bottom: 5px;
						
						font-style: italic;
						text-shadow: 2px 1px 0px #595959;
					}
					.summary{
						    margin-top: 5px;
						span{
							color: #fff100;
						}
					}
					.waranty{
						font-size: 14px;
					    border: 1px solid #fff100;
					    font-weight: normal;
					    display: inline-block;
					    padding: 3px 7px;
					    border-radius: 50px;
					    margin-top: 5px;
					    color: #fff100;
					}
				
				}
			}
		}
		&:hover {
			&:nth-child(1) {
				a {
				.wrapper_name {
					background: #cd1818c7;
					// clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
					clip-path: polygon(0 0, 93% 0%, 74% 100%, 0% 100%);
					-webkit-clip-path: polygon(0 0, 97% 0%, 74% 100%, 0% 100%);
				}
			}
			}
			&:nth-child(2) {
				a {
				.summary {
					background: #cd1818c7;
					// clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
					clip-path: polygon(0 0, 94% 0%, 86% 100%, 0% 100%);
					-webkit-clip-path:polygon(0 0, 94% 0%, 86% 100%, 0% 100%);
				}
			}
			}
		}
	}
}